#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-areas: "orders orders orders" "ingredients pizza oven" "footer footer footer";
  grid-template-columns: 1fr 3fr;
  padding-right: 60px;
  padding-left: 60px;
}

.container div.orders {
  grid-area: orders;
  display: inline-flex;
  padding-bottom: 24px;
}

.container div.ingredients {
  grid-area: ingredients;
  text-align: left;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 40px;
  gap: 16px;
  justify-items: center;
  margin-top: 10px;
}

.container div.pizza {
  grid-area: pizza;
}

.container div.oven {
  grid-area: oven;
  align-content: center;
}

.container div.footer {
  grid-area: footer;
  padding-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-left: 170px;
}

.footer .revenue {
  margin: 0;
  font-size: 20px;
  text-wrap: nowrap;
}

.nes-progress {
  transform: scale(0.4);
  transform-origin: center;
  transition: all 3s linear;
}

#mainHeader {
  font-size: 50px;
}

#title {
  font-size: 30px;
  text-align: left;
  margin: 30px;
}

#userInfo {
  text-align: center;
}

#pizza-container {
  background-color: blanchedalmond;
  height: 500px;
  width: 600px;
  align-items: center;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

#pizza-container img.base {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 400px;
}

.whole-pizza {
  z-index: 2;
  transition: transform 2s ease-in-out;
  height: 500px;
  width: 600px;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.whole-pizza.baking {
  transform: translateX(616px);
  z-index: 1;
}

#oven {
  z-index: 10;
}

.oven-container {
  position: relative;
  z-index: 10;
}

.kitchen {
  display: flex;
  align-items: flex-end;
  gap: 60px;
  position: relative;
}

.pizza-container, .oven-container {
  margin: 0;
  padding: 0;
}

#sauce {
  position: absolute;
  z-index: 2;
  height: 400px;
  width: 400px;
  pointer-events: none;
}

#cheese {
  position: absolute;
  z-index: 3;
  height: 400px;
  width: 400px;
  pointer-events: none;
}

#pepperoni {
  position: absolute;
  z-index: 4;
  height: 400px;
  width: 400px;
  pointer-events: none;
}

#mushroom {
  position: absolute;
  z-index: 5;
  height: 400px;
  width: 400px;
  pointer-events: none;
}

#pepper {
  position: absolute;
  z-index: 5;
  height: 400px;
  width: 400px;
  pointer-events: none;
}

#olive {
  position: absolute;
  z-index: 5;
  height: 400px;
  width: 400px;
  pointer-events: none;
}

#oven-container {
  background-color: gray;
  height: 380px;
  width: 380px;
}

#timer-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toppingIcons {
  display: flex;
  padding: 2px;
}

.icon {
  width: 50px;
  height: 50px;
}

.ingredients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
  justify-items: center;
  margin-top: 10px;
}

.ingredient-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient-pair .nes-btn {
  margin: 3px 0;
}

button.nes-btn.buy-btn {
  height: 35px;
  width: 150px;
  margin-top: 4px;
  padding: 0 12px;
  display: inline-block;
  font-size: 12px;
}

button.nes-btn.ingredient-btn {
  height: 100px;
  width: 150px;
  padding: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

.pizza {
  position: relative;
  display: inline-block;
}

.topping {
  position: absolute;
  width: 400px;
  height: 400px;
  align-content: center;
  pointer-events: none;
}

.topping-sauce {
  z-index: 1;
}

.topping-cheese {
  z-index: 2;
}

.topping-pepperoni, .topping-mushroom, .topping-pepper, .topping-olive {
  z-index: 3;
}

.footer .nes-btn {
  margin: 10px;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}