#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-areas: "orders orders orders" "ingredients pizza oven" "footer footer footer";
  grid-template-columns: 1fr 3fr;
  padding-right: 60px;
  padding-left: 60px;
}

.container div.orders {
  grid-area: orders;
  display: inline-flex;
  padding-bottom: 24px;
}

.container div.ingredients {
  grid-area: ingredients;
  text-align: left;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 40px;
  gap: 16px;
  justify-items: center;
  margin-top: 10px;
}

.container div.pizza {
  grid-area: pizza;
}

.container div.oven {
  grid-area: oven;
  align-content: center;
}

.container div.footer {
  grid-area: footer;
  padding-top: 30px;
}

#mainHeader {
  font-size: 50px;
}

#title {
  font-size: 30px;
  text-align: left;
  margin: 30px;
}

#userInfo {
  text-align: center;
}

#pizza-container {
  background-color: blanchedalmond;
  height: 500px;
  width: 600px;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}

#pizza-container img.base {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 400px;
}

#sauce {
  position: absolute;
  z-index: 2;
  height: 400px;
  width: 400px;
  pointer-events: none;
}

#cheese {
  position: absolute;
  z-index: 3;
  height: 400px;
  width: 400px;
  pointer-events: none;
}

#pepperoni {
  position: absolute;
  z-index: 4;
  height: 400px;
  width: 400px;
  pointer-events: none;
}

#mushroom {
  position: absolute;
  z-index: 5;
  height: 400px;
  width: 400px;
  pointer-events: none;
}

#pepper {
  position: absolute;
  z-index: 5;
  height: 400px;
  width: 400px;
  pointer-events: none;
}

#olive {
  position: absolute;
  z-index: 5;
  height: 400px;
  width: 400px;
  pointer-events: none;
}

#oven-container {
  background-color: gray;
  height: 380px;
  width: 380px;
}

#timer-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toppingIcons {
  display: flex;
  padding: 2px;
}

.icon {
  width: 50px;
  height: 50px;
}

.ingredients button {
  width: 100%;
  max-width: 120px;
  align-items: center;
  font-size: 10px;
}

.ingredients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
  justify-items: center;
  margin-top: 10px;
}

.ingredient-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient-pair .nes-btn {
  margin: 3px 0;
}

.buy-btn {
  height: 35px;
  font-size: 0.8rem;
  margin-top: 4px;
}

.ingredient-btn {
  height: 100px;
  width: 100px;
}

.pizza {
  position: relative;
  display: inline-block;
}

.topping {
  position: absolute;
  width: 400px;
  height: 400px;
  align-content: center;
  pointer-events: none;
}

.topping-sauce {
  z-index: 1;
}

.topping-cheese {
  z-index: 2;
}

.topping-pepperoni, .topping-mushroom, .topping-pepper, .topping-olive {
  z-index: 3;
}
